#turn rewirte engine on
RewriteEngine on

#rewrite for post
RewriteRule ^admin app/admin/index.php [NC]
RewriteRule ^index.php app/site/index.php [NC]
RewriteRule ^search app/site/index.php?mc=product&site=search [NC]